body {
    background-color: #303136;
    font-family: Arial, Helvetica, sans-serif;
}

.acessos {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; /* adicionado para permitir que os elementos sejam empilhados quando necessário */
    justify-content: center; /* centraliza os elementos horizontalmente */
}

.acesso-rapido {
    background-color: #ffffff50;
    text-align: center;
    padding: 20px;
    width: calc(20% - 20px); /* largura inicial de 25% menos a margem entre os elementos */
    border-radius: 20px;
    transition: .3s;
    margin: 5px; /* margem entre os elementos */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.acesso-rapido:hover {
    transform: scale(105%);
}

.acesso-rapido .ar-icon {
    color: white;
    font-size: 34pt;
}

.acesso-rapido .ar-label {
    color: white;
}

/* Media queries para ajustar o layout conforme a largura da tela */
@media (max-width: 1200px) {
    .acesso-rapido {
        width: calc(33.33% - 10px); /* ajusta a largura para 33.33% com margem reduzida */
    }
}

@media (max-width: 768px) {
    .acesso-rapido {
        width: calc(50% - 10px); /* ajusta a largura para 50% com margem reduzida */
    }
}

@media (max-width: 480px) {
    .acesso-rapido {
        width: 100%; /* ajusta a largura para 100% em telas menores */
    }
}

.container {
    display: flex;
    justify-content: center;
}

.padrao-div {
    width: 90%;
    background-color: #ffffff50;
    padding: 20px;
    border-radius: 20px;
    overflow-x: auto;
}